.places {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.places h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.place_content {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
}

.places article {
    width: 390px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #FF5A5F;
}

.places article h2 {
    font-size: 30px;
    text-align: center;
}